/*Starts Here*/
body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 90px; /* You can adjust the percentage as needed */
  height: 37px; /* This maintains the image's aspect ratio */
}

.demo {
  margin-left: auto;
}

.nav-c {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.797);
  position: fixed;
  width: 98%;
  z-index: 9999;
}

.nav-ele {
  padding: 6px 20px 0px 20px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  transition: all ease smooth 0.3s;
}

.nav-ele:hover {
  border-bottom: 2px solid rgb(255, 94, 0);
  .nav-sub {
    opacity: 1;
    z-index: 99;
    margin-top: 6px;
  }
}

.nav-sub {
  position: absolute;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: -20px;
  width: 120px;
  padding: 10px 0px 10px 0px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px #c4c4c4;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}

@media (min-width: 1368px) {
  .lg-container {
    max-width: 85%;
  }
  .nav-container {
    max-width: 88.5%;
  }
}

.show-container {
  position: relative;
  width: 100%;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 8.5%;
  width: 85%;
  height: 100%; /* Ensures it covers the height of the AboutUs component */
  z-index: -1;
  overflow: hidden;
}

.svg-container svg {
  width: 100%;
  height: 100%;
}

.about-pos {
  position: relative;
  width: 100%;
  z-index: -1;
}

.modal-back {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.butt {
  border: 2px solid whitesmoke;
  background: none;
  padding: 2px 20px;
  font-size: 17px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.butt:hover {
  background-color: #000000;
  border-color: #F1593A;
}

.butt::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.8s;
}

.jumbotron {
  height: 100vh; 
  padding:120px 0px 100px 0px;
  background-color: #353839;
  margin:0px auto;
  color: #F1593A;
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerdec {
  text-decoration:underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #F1593A;
}

.animeY {
  display: block;
  transform: translateY(100px);
  opacity: 0;
}

.animeX {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.animeZ {
  display: block;
  transform: translateY(-100px);
  opacity: 0;
}

.sq-svg {
  height: 50px;
  width: 150px;
}

.cat-body {
  position: absolute;
  bottom: -100px;
  left: 0; /* Start from the left */
  padding: 0px 0px 20px 30px;
  transition: bottom 0.3s ease;
  visibility: hidden;
  text-align: center; /* Optional: centers text within the box */
}

.catcard {
  overflow: hidden;
  position: relative;
}

.catcard:hover .cat-body {
  bottom: 0; /* Slide up on hover */
  visibility: visible; /* Make visible on hover */
}

.catimg {
  transition: opacity 0.3s ease;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.catimg:hover {
  opacity: 0.7; /* Adjust as needed */
}