/*Starts Here*/
body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 90px; /* You can adjust the percentage as needed */
  height: 37px; /* This maintains the image's aspect ratio */
}

.demo {
  margin-left: auto;
}

.nav-c {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.797);
  position: fixed;
  width: 98%;
  z-index: 9999;
}

.nav-ele {
  padding: 6px 20px 0px 20px;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  transition: all ease smooth 0.3s;
}

.nav-ele:hover {
  border-bottom: 2px solid rgb(255, 94, 0);
  .nav-sub {
    opacity: 1;
    z-index: 99;
    margin-top: 6px;
  }
}

.nav-sub {
  position: absolute;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: -20px;
  width: 120px;
  padding: 10px 0px 10px 0px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px #c4c4c4;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}

@media (min-width: 1368px) {
  .lg-container {
    max-width: 85%;
  }
  .nav-container {
    max-width: 88.5%;
  }
}

.show-container {
  position: relative;
  width: 100%;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 8.5%;
  width: 85%;
  height: 100%; /* Ensures it covers the height of the AboutUs component */
  z-index: -1;
  overflow: hidden;
}

.svg-container svg {
  width: 100%;
  height: 100%;
}

.about-pos {
  position: relative;
  width: 100%;
  z-index: -1;
}

.modal-back {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.butt {
  border: 2px solid whitesmoke;
  background: none;
  padding: 2px 20px;
  font-size: 17px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.butt:hover {
  background-color: #000000;
  border-color: #F1593A;
}

.butt::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.8s;
}

.jumbotron {
  height: 100vh; 
  padding:120px 0px 100px 0px;
  background-color: #353839;
  margin:0px auto;
  color: #F1593A;
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerdec {
  text-decoration:underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #F1593A;
}

.size {
  max-width: 80%;
  max-height: 80%;
}

.content {
  border-radius: 17px;
}

.rectangle {
  position: absolute;
  border-radius: 17px;
  height: 17vw;
  width: 31.5vw;
  background-color: transparent;
  border: 6px solid black;
}

.animeY {
  display: block;
  transform: translateY(100px);
  opacity: 0;
}

.animeX {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.animeZ {
  display: block;
  transform: translateY(-100px);
  opacity: 0;
}

.denim {
  border-radius: 200px;
  width: 22vh;
  height: 22vh;
}

@media screen and (max-width: 1280px) {
  .denim {
    width: 14vh;
    height: 14vh;
  }
}

.denim:hover {
  scale: 1.1;
}

.box1 {
  width: 35vh;
  height: 30vh;
  position: relative;
  display: inline-block;
}

.box2 {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  position: absolute;
  bottom: 60%;
  left: 20%;
  transition: all 0.5s ease-in-out;
}

.box1:hover + .box2 {
  opacity: 1;
  visibility: visible;
}

.info {
  width: 30vh;
}

.des {
  width: 40px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  z-index: -1;
}

.foreground {
  position: relative;
  z-index: 1;
}

.foreground:hover {
  background-color: #3b0303;
}

.con-i {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 0;
}

.square {
  position: absolute;
  border-radius: 22%;
  width: 150px;
  height: 150px;
  display: flex; justify-content: center; align-items: center;
  background-color: #F1593A;
  z-index: -1;
}
.sq-svg {
  height: 50px;
  width: 150px;
}

.small-dis{
  text-align: right;
}
